[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pyqt5 = "*"
pyopengl = "*"

[dev-packages]
autopep8 = "*"
pyqt5designer = "*"

[requires]
python_version = "3"
